#title{
    background-color: #034b68;
}
.femi{
    margin-left: 100px;
    width: 30px;
    height: 30px;
}
.bio{
    padding-right: 100px;
}
.pot{
    padding-right: 100px;
}
.ser{
    padding-right: 100px;
}
.blg{
    padding-right: 150px;
}
.oloye{
    width: 500px;
    height: 500px;
}
#desc{
    padding-left: 100px;
}
.nam{
     padding-top: 50px;
}
#software{
    margin-top: 120px;
}
.py{
    width: 100px;
    height: 100px;
}
.java{
    width: 50px;
    height: 50px;
}
.html{
    padding-left: 50px;
    width: 50px;
    height: 50px;
}
.css{
    padding-left: 100px;
    width: 200px;
    height: 200px;
}
.r{
    padding-left: 20px;
    width: 100px;
    height: 100px;
}
.py{
    margin-left: 100px;
}
.image-size1{
    height: 20px;
    width: 20px;

}
.image-size2{
    margin-left: 15px;
    height: 20px;
    width: 20px;
}
.cont{
    margin-top: 50px;
}
#social{
    height: 100px;
}
#so{
    margin-left: 100px;
}